#chat-screen {
    background-color: #73add6;
    height: 11000vh;
}

#chat-screen .status-bar {
    background-color: #73add6;
    z-index: 2;
}
#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    background-color: #73add6;
    box-sizing: border-box;
    z-index: 1;
}